body {
  padding: 0;
  margin: 0;
}

.application {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.btn-submit {
  max-width: 140px;
}
